.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body, #root, .App{
  height: 100%;
}

.wrapper {
  background: #282c34;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Hide scrollbars */
  position: relative;
}

.wrapper > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


.player_list,
.play_field,
.settings_menu,
.progress_bar {
  box-sizing: border-box;
  border-radius: 10px;
}

.player_list {
  position: absolute;
  top: 10px;
  left: 10px;
  height: calc(80vh - 20px);
  width: calc(40vw - 20px - 5px); /* Adjusted width with margin */
  background-color: #3498db;
  margin-right: 5px; /* Adjusted margin */
}

.play_field {
  position: absolute;
  top: 10px;
  left: calc(40vw + 15px); /* Adjusted left position */
  height: calc(80vh - 20px);
  width: calc(60vw - 30px - 5px); /* Adjusted width with margin */
  background-color: #2ecc71;
  margin-right: 5px; /* Adjusted margin */
}

.progress_bar {
  position: absolute;
  top: calc(80vh + 10px);
  bottom: 10px;
  left: 10px;
  min-height: calc(20vh - 20px - 10px);
  width: calc(90vw - 30px - 5px); /* Adjusted width with margin */
  background-color: #e74c3c;
  margin-right: 5px; /* Adjusted margin */
}

.settings_menu {
  position: absolute;
  top: calc(80vh + 10px);
  left: calc(90vw); /* Adjusted left position */
  min-height: calc(20vh - 20px - 10px);
  width: calc(10vw - 20px - 5px); /* Adjusted width with margin */
  background-color: #f39c12;
}

.playerInfo {
  display: grid;
  width: 100%;
}

.playerSprite {
  grid-column: 1;
  grid-row: 1;
  height: 59px;
  width: 59px;
  border: 1px solid #e74c3c;
}

.playerName {
  grid-column: 2;
  grid-row: 1;
  text-align: left;
  font-size: medium;
  border: 1px solid #e74c3c;
}


.playerScores {
  grid-column: 3;
  grid-row: 1;
  border: 1px solid #e74c3c;
}

.playerScores th,
.playerScores td {
  font-size: 0.8rem;
  border: 1px solid #ddd;
  text-align: center;
  padding: 0.5vw;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Adjust the minmax values as needed */
  gap: 5px; /* Adjust the gap between items as needed */
}

.grid-item {
  width: 100%;
}

