.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body, #root, .App{
  height: 100%;
}

.wrapper.blurred {
  filter: blur(5px);
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 4px solid #333;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.overlay p {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
}

.wrapper {
  background: #282c34;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.wrapper > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


.player_list,
.progress_bar {
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px
}

.player_list,
.play_field{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px
}

.player_list {
  position: absolute;
  top: 20px;
  left: 40px;
  bottom: 20px;
  width: calc(20vw - 10px - 5px);
  background-color: #616161;
  margin-right: 10px;
}

.play_field_container{
  height: 100%;
  position: absolute;
  width: calc(100vw - 20vw - 80px);
  left: calc(20vw + 10px + 5px);
  right: 40px;
}

.play_field {
  position: absolute;
  top: 20px;
  height: calc(85vh - 40px);
  width: calc(100vw - 20vw - 80px);
  background-color: #616161;
  background-size: cover;
  overflow: hidden;
}

.progress_bar {
  position: absolute;
  background-color: #616161;
  height: calc(15vh - 20px);
  top: calc(85vh - 20px);
  bottom: 20px;
  width: calc(100vw - 20vw - 80px);
}

.playField{
  width: 100%;
  height: 100%;
}