.playerListContainer {
    display: grid;
    grid-template-rows: repeat(8, 1fr); /* 8 equal-height rows */
}

.grid-item,
.grid-item-button{
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    border: solid 3px black;
    box-shadow:
            0 0 10px rgba(0, 0, 0, 0.1), /* Inner shadow */
            0 0 5px rgba(255, 255, 255, 0.5) inset, /* Highlight from the top */
            0 0 5px rgba(0, 0, 0, 0.5) inset; /* Shadow from the bottom */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin-bottom: 3px;
    position: relative;
}

.grid-item-button button{
    background-color: transparent;
    font-size: x-large;
    width: 100%;
    height: 100%;
    border: 0px;
}

.grid-item:hover,
.grid-item-button:hover{
    transform: scale(1.05);
    background-color: #b3d9ff; /* Subtle highlight color, adjust as needed */
}

.playerInfo {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 0.5fr 1fr 5fr; /* 1:2:4 ratio columns */
    margin-bottom: 1px;

}

.playerSprite {
    grid-column: 1;
    grid-row: 1;
    height: 56px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.playerSprite img {
    width: 59px;
    height: 59px;
}

.playerName {
    grid-column: 2;
    grid-row: 1;
    font-size: medium;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3.4em;
    line-height: 1.7em;
    margin-top: 8px;
    font-weight: bold;
}


.playerScores {
    grid-column: 3;
    grid-row: 1;
    font-size: medium;
    height: 100%;
    margin-top: 8px;
}

.playerName,
.playerScores {
    width: 100%;
}

.playerScores th,
.playerScores td {
    border: 1px solid #282c34;
    text-align: center;
}

.playerListContainer {
    position: relative;
}

.playerListContainer.blurred {
    filter: blur(5px); /* Adjust the blur amount as needed */
    transition: filter 0.3s ease-in-out; /* Add a smooth transition effect */
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 1); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    border: 3px solid black;
    text-align: center;
}

.addPlayerModal input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.addPlayerModal button {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
}

.sprite-selection .sprite-variant {
    cursor: pointer;
}

.sprite-selection .sprite-variant .rounded-square {
    border: 2px solid #000; /* Set the border color as needed */
    border-radius: 8px; /* Adjust the border-radius to make it rounded */
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add a light shadow for a 3D effect */
}

.sprite-selection .sprite-variant img {
    width: 100%; /* Ensure the image takes up the entire space of the rounded square */
}

.sprite-selection .sprite-variant.selected .rounded-square {
    border-color: #4e8bf5; /* Set a more subtle highlight color */
    box-shadow: 2px 2px 5px rgba(78, 139, 245, 0.6); /* Adjust the shadow for the selected effect */
}

.sprite-selection {
    display: flex;
    flex-wrap: wrap;
}

.sprite-variant {
    margin: 8px;
    cursor: pointer;
}

.rounded-square {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    overflow: hidden;
}

.rounded-square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sprite-variant.selected .rounded-square {
    border: 2px solid #00f; /* Highlight color */
}
