.parallax {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%; /* height for the parallax container */
}

.layerFarBack,
.layerBack,
.layerMiddle,
.layerDefault,
.layerFront {
    position: absolute;
    top: 0;
}

/* Mountains 1 */
.layerFarBack {
    height: 100%;
    width: 200%;
}

/* Mountains 2 */
.layerBack {
    height: 100%;
    width: 200%;
}

/* Clouds */
.layerMiddle {
    height: 100%;
    width: 200%;
}


/* Ground */
.layerDefault {
    height: 100%;
    width: 100%;
}

/* Flowers */
.layerFront {
    height: 100%;
    width: 200%;
    /*transform: rotate(-11deg) translateX(0%) translateY(2%);*/
}