.playerListContainer {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

.grid-item{
    background-color: #f5f5f5;
    padding: 10px 5px 10px 5px;
    border-radius: 8px;
    border: solid 5px black;
    box-shadow:
            0 0 10px rgba(0, 0, 0, 0.1),
            0 0 5px rgba(255, 255, 255, 0.5) inset,
            0 0 5px rgba(0, 0, 0, 0.5) inset;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin-bottom: 10px;
    position: relative;
}

.grid-item.current-player{
    transform: scale(1.05);
}

.playerInfo {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 2fr 3fr 4fr;
    margin-bottom: 1px;

}

.playerSprite {
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
    max-height: 100%;
}
.playerSprite img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerName {
    grid-column: 2;
    grid-row: 1;
    font-size: medium;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3.4em;
    line-height: 1.7em;
    margin-top: 8px;
    font-weight: bold;
}


.playerScores {
    grid-column: 3;
    grid-row: 1;
    font-size: 0.5em;
    font-weight: bold;
}

.negativeThrow{
    grid-column: 3;
    grid-row: 2;
    font-size: 0.4em;
    font-weight: bold;
    color: mediumvioletred;
}

.positiveThrow{
    grid-column: 3;
    grid-row: 2;
    font-size: 0.4em;
    font-weight: bold;
    color: dodgerblue;
}


.playerName,
.playerScores {
    width: 100%;
}

.playerScores th,
.playerScores td {
    border: 1px solid #282c34;
    text-align: center;
}

.playerListContainer {
    position: relative;
}

.playerListContainer.blurred {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 8px;
    border: 3px solid black;
    text-align: center;
}

.addPlayerModal input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.addPlayerModal button {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
}

.sprite-selection .sprite-variant {
    cursor: pointer;
}

.sprite-selection .sprite-variant .rounded-square {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.sprite-selection .sprite-variant img {
    width: 100%;
}

.sprite-selection .sprite-variant.selected .rounded-square {
    border-color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.sprite-selection {
    display: flex;
    flex-wrap: wrap;
}

.sprite-variant {
    margin: 8px;
    cursor: pointer;
}

.rounded-square {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    overflow: hidden;
}

.rounded-square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sprite-variant.selected .rounded-square {
    border: 2px solid #000;
}
