.parallax {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.Mountains1,
.Mountains2,
.Clouds{
    position: absolute;
    top: 0;

    height: 100%;
    width: 215%;
}

/*!* Ground *!*/
.Ground {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

/* Flowers */
.Flowers {
    top: 0;
    position: absolute;

    width: 300%;
    height: 100%;
    transform: rotate(-11.3deg) translateY(-30%);
}

/* Grass */
.Grass {
    top: 0;
    position: absolute;

    height: 100%;
    width: 300%;
    transform: rotate(-11.3deg) translateY(-30%);
}

.roundInfoModal {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateY(0) translateX(-50%);
    width: 40%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 4px solid #333;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.playerNameModal{
    margin: 0;
    font-size: 64px;
    font-weight: bold;
}

.countdownModal {
    font-size: 32px;
    font-weight: bolder;
    margin: 0;
}
.throwModal{
    font-size: 32px;
    font-weight: bolder;
    margin: 0;
}

.sprite{
    position: absolute;
    width: 144px;
    height: 144px;
    transform: translateY(410%);
}